@charset "utf-8";

/* header共通の背景色 */
header {
    background-color: rgb(202, 199, 193);
}
/* ヘッダーリンクの装飾を外し、ホバーした際に下線を引く */
li>a , a.about-backhome {
    text-decoration: none;
    color: inherit;
}
li>a:hover , a.about-backhome:hover {
    text-decoration: underline;
}

/* about */
/* About usのHomeに戻るボタン */
.about-backhome {
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: normal;
    color: #6091d3;/*文字色*/
    background: #FFF;
    border: solid 3px #6091d3;/*線*/
    border-radius: 10px;/*角の丸み*/
}
.about-backhome {
    margin: 0; 
    padding: 0;
}

/* footer共通 */
footer {
    background-color: rgb(202, 199, 193);
    text-align: center;
}

.footer-aboutus{
    color: inherit;
}


.footer-p{
    margin: 0;
}

/* 開発 */

/* 一覧（products） */
.product-images {
    display: flex;
    justify-content: space-around;
    
}

.product-images img {
    width: 30%;
    height: auto;
}
@media (max-width: 768px){
    .product-images{
        flex-wrap: wrap;
    }

    .product-images img{
        width: 45%;
        margin-bottom: 20px;
    }

}